@page
@model PlaceToPeeRazorPage.Pages.Map.BerlinModel
@{
    ViewData["Title"] = "Berlin";
}

<h1>Berlin</h1>
<div id="myMap"></div>
<input type="button" value="Refresh Page" onClick="refresh()">
<a href="javascript:location.reload(true)">Refresh this page</a>
<table id="table" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Street</th>
            <th>Postalcode</th>
            <th>Price</th>
            <th>description</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var standorte in Model.LocationsBerlin)
        {

            <tr>
                <td class="data-latitude">@standorte.Latitude</td>
                <td class="data-longitude">@standorte.Longitude</td>
                <td class="data-street">@standorte.Street</td>
                <td class="data-postalCode">@standorte.PostalCode</td>
                <td class="data-price">@standorte.Price</td>
                <td class="data-label">@standorte.LabelId</td>
            </tr>
        }
    </tbody>
</table>
@*@{
    List<decimal> latitudeList = new List<decimal>();
    List<decimal> longititudeList = new List<decimal>();
    @foreach (var standorte in Model.LocationsBerlin)
    {
        latitudeList.Add(standorte.Latitude);
        longititudeList.Add(standorte.Longitude);
    }
}*@


<link rel="stylesheet"
      href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin="" />
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
<style>

</style>
<script type="text/javascript">

 
    
</script>
